<section id="create-section">

    <h1 class="item">Edit Accomodation</h1>

    <main class="item padded align-center">

        <form class="layout left large" method="post" action="/room/{{room._id}}/edit">
            {{#if error}}
            <div class="error-box">
                {{#each error.messages}}
                <p>{{this}}</p>
                {{/each}}
            </div>
            {{/if}}

            <div class="col aligned">
                <label><span>Name</span><input {{#if error.fields.name}}class="field-error"{{/if}} type="text" name="name" value="{{room.name}}"></label>
                <label><span>City</span><input {{#if error.fields.city}}class="field-error"{{/if}} type="text" name="city" value="{{room.city}}"></label>
                <label><span>Beds</span><input {{#if error.fields.beds}}class="field-error"{{/if}} type="number" name="beds" value="{{room.beds}}"></label>
                <label><span>Price per night</span><input {{#if error.fields.price}}class="field-error"{{/if}} type="number" name="price" value="{{room.price}}"></label>
                <label><span>Image URL</span><input {{#if error.fields.imgUrl}}class="field-error"{{/if}} type="text" name="imgUrl" value="{{room.imgUrl}}"></label>
            </div>

            <div class="content pad-med align-center vertical">
                <label>
                    <span>Description</span>
                    <textarea {{#if error.fields.description}}class="field-error"{{/if}} name="description">{{room.description}}</textarea>
                </label>

                <div class="align-center">
                    <input class="action" type="submit" value="Update Item">
                </div>
            </div>

        </form>

    </main>

</section>